* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "", "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0a3d62;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin: 20px;
  text-align: center;
  text-shadow: 1px 1px 2px var(--text-shadow-color);
  font-size: 5vw;
}

p {
  font-size: 3em;
  font-weight: 100;
  color: white;
  padding: 10px;
  width: 400px;
  text-shadow: 0 0 20px #0eea9d;
}

.container {
  max-width: 100vw;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.split_wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 100vw;
  margin: 10px;
}
.timer__wrapper {
  border-radius: 24px;
  border: solid 2px white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 10px;
}
.timer__display {
  display: flex;
}
.timer__display > p {
  font-size: 5em;
}

.button__wrapper {
  display: flex;
  width: 30vw;
  padding: 1em;
  justify-content: center;
  align-items: center;

  margin: 10px;
  max-width: 100vw;
}
.button {
  color: white;
  background-color: var(--text-shadow-color);
  font-size: 1.5em;
  border-radius: 100vh;
  border: 1px solid white;
  padding: 1em;
  transition: ease-in-out 0.3s;
}
.button:active {
  border: 1px solid var(--text-main-color);
  background-color: var(--text-main-color);
}
.button:hover {
  transform: scale(120%);
  background: rgb(170, 164, 164);
}
.button:disabled {
  background-color: rgb(170, 164, 164);
}
/* .button.active {
  border: 1px solid var(--text-main-color);
  background-color: var(--text-main-color);
} */
/* @media only screen and (max-device-width: 1280px) {
  * {
    font-size: 0.9em;
  }
  h1 {
    font-size: 60px;
    line-height: 0px;
  }
  .button__wrapper {
    margin: auto;
    width: 100%;
  }
  .timer__display > p {
    font-size: 3.8em;
    padding-left: 0;
  }
} */
